@model WebAppBugReport.Data.Models.Bug



@{
    ViewBag.Title = "Bug - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:10px">Creating a bug report</h2>

@using (Html.BeginForm("Create", "Bug", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <form class="row g-3 ">
        <div class="col-md-12 row-padding">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%", placeholder = "What? Where? When? " } })
        </div>




        <div class="col-md-4 row-padding">
            @Html.LabelFor(model => model.Priority.Name, htmlAttributes: new { @class = "control-label " })
            @Html.DropDownList("PriorityId", null, htmlAttributes: new { @class = "form-control", @style = "max-width: 100%" })
        </div>
        <div class="col-md-4 row-padding">
            @Html.LabelFor(model => model.User.Name, htmlAttributes: new { @class = "control-label " })
            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control", @style = "max-width: 100%" })
        </div>
        <div class="col-md-4 row-padding">
            @Html.LabelFor(model => model.Status.Name, htmlAttributes: new { @class = "control-label " })
            @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control", @style = "max-width: 100%" })
        </div>


        <div class="col-md-7 row-padding">
            @Html.LabelFor(model => model.ActualResult, htmlAttributes: new { @class = "control-label " })
            @Html.TextAreaFor(m => m.ActualResult, new { @class = "form-control", @style = "max-width: 100%" })
        </div>



        <div class="col-md-5 row-padding">
            @Html.LabelFor(model => model.StepToReproduce, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(m => m.StepToReproduce, new { @class = "form-control", @style = "max-width: 100%", placeholder = "1..." })
        </div>
        <div class="col-md-7 row-padding">
            @Html.LabelFor(model => model.ExpectedResult, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(m => m.ExpectedResult, new { @class = "form-control", @style = "max-width: 100%" })
        </div>



        <div class="col-md-8 row-padding">
            @Html.Hidden("ProjectId")
        </div>
        <div class="col-md-4 row-padding">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%", placeholder = "https://..." } })
        </div>
        

        <div class="col-md-12 row-padding">
            @Html.LabelFor(model => model.BugImg, htmlAttributes: new { @class = "control-label " })
            <input type="file" name="UploadFile" class="form-control" />
        </div>



        <div class="col-md-9  row-padding" style="min-width: 200px">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

        <div class="col-md-3 btn btn-link " >
            @Html.ActionLink("Back to List", "ListBugs", new { id = ViewBag.ProjectId })
        </div>


        

    </form>
}

