@model WebAppBugReport.Data.Models.BugList
<link href="@Url.Content("~/Content/bug-details.css")" rel="stylesheet" type="text/css" />



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="padding-top:30px">
    Bugs List @*🅱🆄🅶🅱🆄🅽🆃🅴🆁*@
    <a href="/Bug/Create/@ViewBag.ProjectId" class="btn"><i class="fa fa-plus btn-lg"></i></a>
</h2>




@foreach (var status in Model.Statuses)
{
    <div class="column-header-test ">


        <div class="card column back-column " data-id="@status.Id">
            <div style="padding-bottom:20px; font-size:16px">@status.Name</div>



            @foreach (var item in Model.Bugs)
            {



                if (item.StatusId == @status.Id)
                {

                    <div class="portlet card-body text-left  " data-id="@item.Id">
                        <div class="portlet-header ard-title ">
                            @*<img class="img-button  img-circle " src="@item.User.ProfileImg" style=" width:30px; height:auto; float:right;  cursor:pointer;">*@

                            <div>
                                ID# @item.Id
                                @if (item.Priority.Name == "Low")
                                {
                                    <i class="bi bi-bug " style="cursor:pointer; float:right; color:green " data-toggle="tooltip" data-placement="left" title="Priority: @item.Priority.Name"></i>
                                }
                                else if (item.Priority.Name == "Medium")
                                {
                                    <i class="bi bi-bug " style="cursor:pointer; float:right; color:orange " data-toggle="tooltip" data-placement="left" title="Priority: @item.Priority.Name"></i>
                                }
                                else
                                {
                                    <i class="bi bi-bug " style="cursor:pointer; float:right; color:red " data-toggle="tooltip" data-placement="left" title="Priority: @item.Priority.Name"></i>
                                }
                            </div>


                        </div>

                        <div class="portlet-content  card-text">@item.Summary</div>





                        <div class="row">
                            @if(item.BugImg != null)
                            {
                            <div class="col-md-2 card-elem-padding-img">
                                <i class="bi bi-image img-button" src="@item.BugImg" style="cursor:pointer; font-size:30px; "></i>
                            </div>
                            }
                            else
                            {
                                <div class="col-md-2 card-elem-padding-img "   data-toggle="tooltip" title="No attachment">
                                    <i class="bi bi-question-octagon" src="@item.BugImg" style="cursor:help; font-size:30px; "></i>
                                </div>
                            }






                            <div class=" col-md-7 card-elem-padding-details">
                                <button type="button" class="btn btn-primary form-control open-details-modal" data-toggle="modal" style="background:#336B87;" data-whatever="@item.Id">Details  </button>

                                <div class="modal fade details-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document" style="min-width:1300px; min-height:2600px">
                                        <div class="modal-content">
                                            @foreach (var bug in Model.Bugs.Where(p => p.Id == @item.Id))
                                            {
                                                using (Html.BeginForm("ChangeBug", "Bug", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    <div class="modal-header  modal-bug-header ">
                                                        <div class="row">
                                                            <div class="col-md-4 padding-header-bug" style="padding:15px 0 0 40px">
                                                                <h5 class="modal-title">Bug # @bug.Id   <br />  Priority: @bug.Priority.Name</h5>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <img src="~/UploadedFile/LOGO_Prodaction.png" class="d-inline-block " style="width:300px; padding-left:10px ">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <h5>@bug.Date</h5>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="modal-body" style="background-color: white">
                                                        <div class="row top-padd-input label-style">
                                                            <input class="form-control input-max-width" type="hidden" name="StatusId" value="@bug.StatusId" />
                                                            <input class="form-control input-max-width" type="hidden" name="ProjectId" value="@bug.ProjectId" />
                                                            <input class="form-control input-max-width" type="hidden" name="Date" value="@bug.Date" />
                                                            <input class="form-control input-max-width" type="hidden" name="Id" value="@bug.Id" />

                                                            <div class="col-md-12  ">
                                                                <label class="control-label">Summary*</label>
                                                                <input class="form-control input-max-width" type="text" name="Summary" value="@bug.Summary" />
                                                            </div>

                                                            <div class="col-md-3  ">
                                                                <label class="control-label">Step to Reproduce</label>
                                                                @Html.TextArea("StepToReproduce", @bug.StepToReproduce, 13, 60, new { @class = "form-control" })

                                                            </div>
                                                            <div class="col-md-6  ">
                                                                <label class="control-label">Expected Result</label>
                                                                @Html.TextArea("ExpectedResult", @bug.ExpectedResult, 5, 60, new { @class = "form-control", @style = "max-width:100%" })
                                                            </div>

                                                            <div class="col-md-3 ">
                                                                <label class="control-label">Assigned to</label>
                                                                @Html.DropDownList("UserId", new SelectList(ViewBag.Users, "Id", "Name", bug.UserId), new { @class = "form-control" })
                                                            </div>

                                                            <div class="col-md-3 ">
                                                                <label class="control-label">Priority</label>
                                                                @Html.DropDownList("PriorityId", new SelectList(ViewBag.Priority, "Id", "Name", bug.PriorityId), new { @class = "form-control" })
                                                            </div>


                                                            <div class="col-md-6  ">
                                                                <label class="control-label">Actual Result</label>
                                                                @Html.TextArea("ActualResult", @bug.ActualResult, 5, 60, new { @class = "form-control", @style = "max-width:100%" })
                                                            </div>

                                                            <div class="col-md-3 ">
                                                                <label class="control-label">Image</label>
                                                                @if(bug.BugImg != null)
                                                                {
                                                                     <img class="form-control img-button" src="@bug.BugImg" style="width:auto; min-height:160px; max-height:160px;  cursor:pointer;" />
                                                                }
                                                                
                                                                <input type="file" name="UploadFile" class="form-control " />
                                                                <input type="hidden" name="BugImg" value="@bug.BugImg" />
                                                            </div>


                                                            <div class="col-md-5 ">
                                                                <label class="control-label">Link</label>
                                                                <input class="form-control input-max-width" type="text" name="Link" value="@bug.Link" />
                                                            </div>


                                                        </div>



                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBug" data-whatever="@bug.Id">Delete</button>
                                                            </div>
                                                            <div class="col-md-offset-9 col-md-1">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                            <div class=" col-md-1">
                                                                <button type="submit" class="btn btn-primary">Change</button>
                                                            </div>
                                                        </div>


                                                    </div>
                                                }

                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>


                            @if(item.UserId != null)
                            {
                                <div class="col-md-3 card-elem-padding-photo" data-toggle="tooltip" title="Assigned to @item.User.Name">
                                    @if (@item.User.ProfileImg != null)
                                    {   <figure >
                                            <img class="img-circle " src="@item.User.ProfileImg" style="  float:left; display: inline-block;  cursor:pointer; image-rendering: optimizeSpeed;">
                                        </figure>
                                    }
                                    else
                                    {
                                        <div class="user-info-avatar avatar" name="@item.User.Name" style=" cursor:pointer;"></div>
                                    }

                                </div>
                            }
                            else
                            {
                                 <div class="col-md-3 card-elem-padding-photo" data-toggle="tooltip" title="No assigned user">
                                     <i class="bi bi-exclamation-diamond" style="cursor:help; font-size:30px; "></i>
                                 </div>
                            }




                        </div>


                    </div>


                }
            }

        </div>
    </div>
}


<div class="modal fade" id="deleteBug" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content" @*style="border-radius:10px"*@>
            <div class="modal-header" style="background-color:white; border-radius:20px 20px 0 0">
                <h5 class="modal-title">Delete</h5>
            </div>
            <form method="post" action="/Bug/DeleteBug">
                <div class="modal-body">
                  Do you confirm that you want to remove the bug from the project?
                    <input type="hidden" name="Id" />
                </div>
                <div class="modal-footer" style="background-color:white; border-radius:0 0 20px 20px">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>





<div class="modal fade  " id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog " style="width:80%;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#283655">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <img class="modal-content-img" id="img01">

            </div>
        </div>
    </div>
</div>






@section scripts {
    <script src="~/Scripts/app/JavaScript.js"></script>
    <script src="~/Scripts/app/ImageModal.js">
    </script>
    <script>
        $(function () {
            $(".column").sortable({
                connectWith: ".column",
                handle: ".portlet-header",
                cancel: ".portlet-toggle",
                placeholder: "portlet-placeholder ui-corner-all",
                receive: onTicketChange

            });

            $(".portlet")
                .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
                .find(".portlet-header")
                .addClass("ui-widget-header ui-corner-all");
        });

        function onTicketChange(event, ui) {
            let columnId = $(event.target).closest('.column').data('id');
            let bugId = ui.item.data("id");
            $.ajax({
                url: '/Bug/Edit',
                type: 'POST',
                data: { id: bugId, statusId: columnId }
            })
        }

    </script>


    <script>
        var stringToColor = function stringToColor(str) {
            var hash = 0;
            var color = '#';
            var i;
            var value;
            var strLength;

            if (!str) {
                return color + '333333';
            }

            strLength = str.length;

            for (i = 0; i < strLength; i++) {
                hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }

            for (i = 0; i < 3; i++) {
                value = (hash >> (i * 8)) & 0xFF;
                color += ('00' + value.toString(16)).substr(-2);
            }

            return color;
        };



        var elementAvatar = document.getElementsByClassName('avatar');

        for (var i = 0; i < elementAvatar.length; i++) {
            var name = elementAvatar[i].getAttribute("name");
            var letter = name.substr(0, 1);
            var backgroundColor = stringToColor(name);
            elementAvatar[i].innerHTML = letter;
            elementAvatar[i].style.backgroundColor = backgroundColor;
        }
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


    <script>
        var textarea = document.querySelector('textarea');

        textarea.addEventListener('keyup', function () {
            if (this.scrollTop > 0) {
                this.style.height = this.scrollHeight + "px";
            }
        });
    </script>



    <script>
        $('#deleteBug').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-body input').val(recipient)
        })
    </script>


}







