@model IEnumerable<WebAppBugReport.Data.Models.Bug>

@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Sortable - Portlets</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        body {
            min-width: 520px;
        }

        .column {
            width: 170px;
            float: left;
            padding-bottom: 100px;
        }

        .portlet {
            margin: 0 1em 1em 0;
            padding: 0.3em;
        }

        .portlet-header {
            padding: 0.2em 0.3em;
            margin-bottom: 0.5em;
            position: relative;
        }

        .portlet-toggle {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -8px;
        }

        .portlet-content {
            padding: 0.4em;
        }

        .portlet-placeholder {
            border: 1px dotted black;
            margin: 0 1em 1em 0;
            height: 50px;
        }
    </style>
    
</head>
<body>
    @*@foreach (var item in Model.Statuses)
        {
            <div class="column">@item.Name

                <div>
                    @foreach (var it in Model.Bugs)
                    {
                        if (it.Status.Name == item.Name)
                        {
                            <div class="portlet">
                                <div class="portlet-header">@it.Id</div>
                                <div class="portlet-content">@it.Summary</div>
                            </div>
                        }
                    }
                </div>
            </div>
        }*@




    <div class="column" data-id="1">
        Open
        @foreach (var item in Model)
        {
            if (item.Status.Name == "Open")
            {
                <div class="portlet" data-id="@item.Id">
                    <div class="portlet-header">@item.Id</div>
                    <div class="portlet-content">@item.Summary</div>
                </div>
            }
        }
    </div>

    <div class="column" data-id="2">
        Queue
        @foreach (var item in Model)
        {
            if (item.Status.Name == "Queue")
            {
                <div class="portlet" data-id="@item.Id">
                    <div class="portlet-header">@item.Id</div>
                    <div class="portlet-content">@item.Summary</div>
                </div>
            }
        }
    </div>


    <div class="column" data-id="3">
        In Progress
        @foreach (var item in Model)
        {
            if (item.Status.Name == "In Progress")
            {
                <div class="portlet">
                    <div class="portlet-header">@item.Id</div>
                    <div class="portlet-content">@item.Summary</div>
                </div>
            }
        }
    </div>



    <div class="column" data-id="4">
        In Review
        @foreach (var item in Model)
        {
            if (item.Status.Name == "In Review")
            {
                <div class="portlet">
                    <div class="portlet-header">@item.Id</div>
                    <div class="portlet-content">@item.Summary</div>
                </div>
            }
        }
    </div>


    <div class="column" data-id="6">
        Not a Bug
        @foreach (var item in Model)
        {
            if (item.Status.Name == "Not a Bug")
            {
                <div class="portlet">
                    <div class="portlet-header">@item.Id</div>
                    <div class="portlet-content">@item.Summary</div>
                </div>
            }
        }
    </div>



    <div class="column" data-id="1002">
        Close
        @foreach (var item in Model)
        {
            if (item.Status.Name == "Close")
            {
                <div class="portlet">
                    <div class="portlet-header">@item.Id</div>
                    <div class="portlet-content">@item.Summary</div>
                </div>
            }
        }
    </div>




    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".column").sortable({
                connectWith: ".column",
                handle: ".portlet-header",
                cancel: ".portlet-toggle",
                placeholder: "portlet-placeholder ui-corner-all",
                receive: onTicketChange
            });

            $(".portlet")
                .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
                .find(".portlet-header")
                .addClass("ui-widget-header ui-corner-all")
                .prepend("<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");

            $(".portlet-toggle").on("click", function () {
                var icon = $(this);
                icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
                icon.closest(".portlet").find(".portlet-content").toggle();
            });
        });
        function onTicketChange(event, ui) {
            let columnId = $(event.target).closest('.column').data('id');
            let bugId = ui.item.data("id");
            @*console.log(colId);
            console.log(Id);*@
            $.ajax({
                url: '/Bug/Edit',
                type: 'POST',
                data: { id: bugId, statusId: columnId }
            })
        }






    </script>
</body>

</html>
