@using WebAppBugReport.Data.Models
@model ProjectPagingViewModel


@using WebAppBugReport.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("tester"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            Название компании
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (Project project in Model.Projects)
    {
        <tr>
            @if (project.Users.Contains(ViewBag.Users))
             {
             <td>
                @project.ProjectName
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", "Projects", new { id = project.Id }, null) |

            </td>
            <td>
                @Html.ActionLink("Перейти", "Index", "Bug", new { id = project.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = project.Id })
            </td>
                
             }
            
        </tr>
    }

</table>
<br />
        
<div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
        
