
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink( User.Identity.Name , "UserProfile", "Account", new {  },new{ style = "line-height: 40px;" })
            </li>
            <li>@Html.ActionLink("Log Off", "Logout", "Account",new {}, new { @class = "navbar-brand", style = "line-height: 40px;" })</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account",  new { id = "registerLink" }, new { style = "line-height: 40px;" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account",   new { id = "loginLink" }, new { style = "line-height: 40px;" })</li>
    </ul>
}

